<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog">
    <%= form_with url: invite_video_call_path(@video_call) do |form| %>
      <%= form.label :participant_name, "Name" %>
      <%= form.text_field :participant_name %>
      <%= form.label :participant_phone_number, "Phone Number" %>
      <%= form.text_field :participant_phone_number, placeholder: '818012345678' %>
      <%= form.submit 'Send Invite' %>
    <% end %>

    <button type="button" data-action="dialog#close" autofocus>Close</button>
  </dialog>

  <button type="button" data-action="dialog#open">Invite Participant</button>
</div>